.container{
    background-color: rgb(8, 8, 52);
    color:white;
    padding-left: -200px;
}
body{
    background-color: rgb(12, 12, 55);
}
.container1{
    background-color: rgb(26, 26, 97);
    padding-left:30%;
    margin-top:20%;
    padding-right:170px;
    width: calc(100% - 200px);
}
.deep{
    background-color:rgb(26, 26, 97) ;
}
